body {
  margin: 0;
  padding: 0;
  background-color: #FFCA5A;
}

header {
  background-color: #FFE699;
  margin: 0 auto;
  height: 100px;
  background-image: url("https://storage.needpix.com/rsynced_images/foamy-water.jpg");
}

header h2 {
  padding: 10px;
  margin: 0;
  color:black;
  font-size: 75px;
  text-align: center;
  text-shadow: 2px 2px #FFCA5A;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.card {
  visibility:visible;
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 25rem;
  height: 40rem;
  display: center;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
  position: absolute;
  left: 150px;
  border-radius: 25px;
}

.beer-avatar {
  justify-self: center;
  height: 15rem;
  width: auto;
  
}
#user_comments {
  height: 60px;
  padding-left:0px ;
}

.add-comment-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.chug-list-card {

  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 25rem;
  height: 40rem;
  display: center;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #a834eb;
}

.beer-avatar-chug {
  justify-self: center;
  height: 15rem;
  width: auto;
}

#chug-list-container {
  /* min-width: 10em;
  max-width: 20em; */
  width: 25rem;
  height: 50rem;
  /* float: right; */
  margin-left: 2em;
  /* margin-top: 6.5em; */
  border-left: 5px solid black;
  position: absolute;
  right: 100px;
}

#uploader_comment {
  font-style: italic ;
}

.chugLikes {
  display: inline;
  padding-right: 50px;
  
}


.chuckLikes {
  display: inline;
}

#close {
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:#ccc;
}



p {
  font-size: 1.05em;
  color: black;
  font-family: Helvetica;
}

li {
  font-size: 1.05em;
  list-style: none;
  padding-right: 20px;
}

button {
  position: relative;
  background-color: #e04b52;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}


button.release {
  float: right;
  background-color: #E1332D;
}



